In [5]:
import pandas as pd

stats = pd.read_csv('stats.csv')

print(stats)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

In [6]:
import pandas as pd

stats = pd.read_csv('stats.csv')

firsts_lines = stats.head

print(firsts_lines)

<bound method NDFrame.head of          N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]>

In [7]:
import pandas as pd

stats = pd.read_csv('stats.csv')

row , ext = stats.shape

print(row,ext)

8704 25

In [10]:
import pandas as pd
import numpy as np

stats = pd.read_csv('stats.csv')

print(stats.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [27]:
import pandas as pd
import numpy as np

stats = pd.read_csv('stats.csv')



missed = stats.isnull()

sum = missed.sum()
print(sum)

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [24]:
import pandas as pd
import numpy as np

stats = pd.read_csv('stats.csv')

stats1 = ['Язык.программирования'] + list(stats.dropna(axis=1, how='any').columns)
stats1

['Язык.программирования',
 'N',
 'Должность',
 'Общий.опыт.работы',
 'Опыт.работы.на.текущем.месте',
 'Зарплата.в.месяц',
 'Изменение.зарплаты.за.12.месяцев',
 'Город',
 'Размер.компании',
 'Тип.компании',
 'Пол',
 'Возраст',
 'Образование',
 'Еще.студент',
 'Уровень.английского',
 'Дата.заполнения',
 'User.Agent',
 'exp',
 'current_job_exp',
 'salary']

In [26]:
import pandas as pd
import numpy as np

stats = pd.read_csv('stats.csv')


stats1 = ['Язык.программирования'] + list(stats.dropna(axis=1, how='any').columns)

stats = stats[stats1]


missed = stats.isnull()

summa = missed.sum()

summa

Язык.программирования               3850
N                                      0
Должность                              0
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [28]:
import pandas as pd
import numpy as np

stats = pd.read_csv('stats.csv')

stats = stats.dropna()

stats

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

In [31]:
import pandas as pd
import numpy as np

stats = pd.read_csv('stats.csv')

stats = stats.dropna()

row , col = stats.shape

print(row,col)

0 25

In [40]:
import pandas as pd

stats = pd.read_csv('stats.csv')

python_data = stats[stats['Язык.программирования'] == 'Python']

row , col = python_data.shape
print(row,col)

207 25

In [46]:
import pandas as pd

stats = pd.read_csv('stats.csv')

grouped = stats.groupby('Специализация')

for group_name, group_data in grouped:
    print(f'Group: {group_name}')
    print(group_data)

Group: Automation QA
         N           Должность Язык.программирования  Специализация  \
51      52         QA engineer                   NaN  Automation QA
64      65  Senior QA engineer                   NaN  Automation QA
77      78  Senior QA engineer                   NaN  Automation QA
115    116  Junior QA engineer                   NaN  Automation QA
124    125         QA engineer                   NaN  Automation QA
...    ...                 ...                   ...            ...
8503  8504         QA engineer                   NaN  Automation QA
8548  8549  Junior QA engineer                   NaN  Automation QA
8576  8577         QA engineer                   NaN  Automation QA
8656  8657         QA engineer                   NaN  Automation QA
8667  8668  Junior QA engineer                   NaN  Automation QA

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
51                 1.5                          1.5              1050
64                   5                            2              1800
77                   6                            5              2400
115                1.5             меньше 3 месяцев               700
124                  3                          1.5              1700
...                ...                          ...               ...
8503                 1             меньше 3 месяцев               666
8548                 1                            2              1100
8576               1.5                          1.5               800
8656                 5                            5              2200
8667                 2                          1.5               750

      Изменение.зарплаты.за.12.месяцев    Город  Размер.компании  ...  \
51                                 350  Харьков  до 1000 человек  ...
64                                 300     Киев   до 200 человек  ...
77                                 200     Киев   до 200 человек  ...
115                                350  Винница  до 1000 человек  ...
124                                300     Киев   до 200 человек  ...
...                                ...      ...              ...  ...
8503                               400   Другой   до 200 человек  ...
8548                               400    Днепр  до 1000 человек  ...
8576                               160    Львов    до 50 человек  ...
8656                               500    Днепр    до 50 человек  ...
8667                               350     Киев   до 200 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
51         False             средний  Веб-разработка,Корпоративные системы
64         False       выше среднего                        Веб-разработка
77         False             средний   Desktop Applications,Веб-разработка
115        False             средний                           Android,iOS
124        False         продвинутый  Веб-разработка,Корпоративные системы
...          ...                 ...                                   ...
8503       False       ниже среднего                        Веб-разработка
8548       False             средний                                   NaN
8576       False       выше среднего                  Desktop Applications
8656       False             средний   Desktop Applications,Веб-разработка
8667       False        элементарный                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
51    12/06/2017 13:09:53  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like...
64    12/06/2017 13:11:04  Mozilla/5.0 (Linux; Android 7.0; SM-G935F Buil...
77    12/06/2017 13:11:52  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
115   12/06/2017 13:14:53  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4...
124   12/06/2017 13:16:21  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
...                   ...                                                ...
8503  09/07/2017 20:51:01  Mozilla/5.0 (Windows NT 6.1; rv:45.0) Gecko/20...
8548  10/07/2017 14:18:52  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8576  10/07/2017 20:48:59  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8656  11/07/2017 23:13:27  Mozilla/5.0 (Linux; Android 6.0.1; Nexus 7 Bui...
8667  12/07/2017 01:46:33  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...

      exp current_job_exp salary Валюта cls
51    1.5             1.5   1050    NaN  QA
64    5.0             2.0   1800    NaN  QA
77    6.0             5.0   2400    NaN  QA
115   1.5             0.0    700    NaN  QA
124   3.0             1.5   1700    NaN  QA
...   ...             ...    ...    ...  ..
8503  1.0             0.0    666    NaN  QA
8548  1.0             2.0   1100    NaN  QA
8576  1.5             1.5    800    NaN  QA
8656  5.0             5.0   2200    NaN  QA
8667  2.0             1.5    750    NaN  QA

[292 rows x 25 columns]
Group: General QA
         N           Должность Язык.программирования Специализация  \
10      11         QA engineer                   NaN    General QA
13      14         QA engineer                   NaN    General QA
21      22  Senior QA engineer                   NaN    General QA
39      40         QA engineer                   NaN    General QA
81      82         QA engineer                   NaN    General QA
...    ...                 ...                   ...           ...
8567  8568  Senior QA engineer                   NaN    General QA
8594  8595        QA Tech Lead                   NaN    General QA
8622  8623         QA engineer                   NaN    General QA
8655  8656        QA Tech Lead                   NaN    General QA
8698  8699         QA engineer                   NaN    General QA

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
10                   3                            2              1600
13                   2                          0.5              1500
21      10 и более лет                            7              2500
39                   2                            2               800
81                   4                            3              1800
...                ...                          ...               ...
8567                 4                            4               400
8594                 7                         0.25              3150
8622                 4                          1.5              1600
8655                 3                          0.5              2280
8698                 5                          1.5              2450

      Изменение.зарплаты.за.12.месяцев         Город  Размер.компании  ...  \
10                                 300         Днепр   до 200 человек  ...
13                                 500       Харьков    до 50 человек  ...
21                                   0          Киев    до 50 человек  ...
39                                 150       Винница  до 1000 человек  ...
81                                 200       Харьков   до 200 человек  ...
...                                ...           ...              ...  ...
8567                                50  Кропивницкий   до 200 человек  ...
8594                               285          Киев   до 200 человек  ...
8622                               100         Днепр   до 200 человек  ...
8655                               500       Харьков   до 200 человек  ...
8698                               100          Киев   до 200 человек  ...

     Еще.студент Уровень.английского                   Предметная.область  \
10         False       выше среднего                       Веб-разработка
13         False             средний                       Веб-разработка
21         False       ниже среднего  Desktop Applications,Веб-разработка
39         False             средний                              Gamedev
81         False       выше среднего                 Desktop Applications
...          ...                 ...                                  ...
8567       False             средний              Телекоммуникации,Другое
8594       False       выше среднего                Веб-разработка,Другое
8622       False       выше среднего                          Android,iOS
8655       False             средний                       Веб-разработка
8698       False       выше среднего                       Веб-разработка

          Дата.заполнения                                         User.Agent  \
10    12/06/2017 13:05:20  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4...
13    12/06/2017 13:06:31  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
21    12/06/2017 13:07:20  Mozilla/5.0 (Windows NT 6.3; WOW64; rv:53.0) G...
39    12/06/2017 13:09:00  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
81    12/06/2017 13:12:01  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
...                   ...                                                ...
8567  10/07/2017 17:19:44  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8594  11/07/2017 09:53:45  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8622  11/07/2017 15:43:12  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8655  11/07/2017 23:09:48  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5...
8698  12/07/2017 15:18:36  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_3...

       exp current_job_exp salary Валюта cls
10     3.0            2.00   1600    NaN  QA
13     2.0            0.50   1500    NaN  QA
21    10.0            7.00   2500    NaN  QA
39     2.0            2.00    800    NaN  QA
81     4.0            3.00   1800    NaN  QA
...    ...             ...    ...    ...  ..
8567   4.0            4.00    400    NaN  QA
8594   7.0            0.25   3150    NaN  QA
8622   4.0            1.50   1600    NaN  QA
8655   3.0            0.50   2280    NaN  QA
8698   5.0            1.50   2450    NaN  QA

[357 rows x 25 columns]
Group: Manual QA
         N           Должность Язык.программирования Специализация  \
0        1  Junior QA engineer                   NaN     Manual QA
1        2  Junior QA engineer                   NaN     Manual QA
19      20  Senior QA engineer                   NaN     Manual QA
22      23         QA engineer                   NaN     Manual QA
27      28  Senior QA engineer                   NaN     Manual QA
...    ...                 ...                   ...           ...
8624  8625         QA engineer                   NaN     Manual QA
8669  8670  Junior QA engineer                   NaN     Manual QA
8690  8691  Junior QA engineer                   NaN     Manual QA
8697  8698         QA engineer                   NaN     Manual QA
8699  8700         QA engineer                   NaN     Manual QA

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
19                   4                            4              1800
22                   2                          0.5               800
27                   7                          1.5              1200
...                ...                          ...               ...
8624                 3             меньше 3 месяцев              1200
8669              0.25                         0.25               480
8690  меньше 3 месяцев                            3               300
8697                 4                            3              1551
8699                 1             меньше 3 месяцев               700

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
19                                 150     Киев     до 1000 человек  ...
22                                 400    Львов       до 50 человек  ...
27                                 200    Львов  свыше 1000 человек  ...
...                                ...      ...                 ...  ...
8624                               500     Киев  свыше 1000 человек  ...
8669                                 0   Одесса       до 50 человек  ...
8690                                 0    Львов      до 200 человек  ...
8697                               150     Киев  свыше 1000 человек  ...
8699                               700   Одесса       до 50 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
19         False             средний                              Embedded
22         False             средний  Веб-разработка,Корпоративные системы
27         False       ниже среднего                              Embedded
...          ...                 ...                                   ...
8624       False       выше среднего                       Финансы и банки
8669       False             средний                        Веб-разработка
8690       False       ниже среднего                           Android,iOS
8697       False       выше среднего                             eCommerce
8699       False             средний          Android,Desktop Applications

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
19    12/06/2017 13:07:11  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
22    12/06/2017 13:07:35  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
27    12/06/2017 13:07:57  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
...                   ...                                                ...
8624  11/07/2017 15:56:02  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
8669  12/07/2017 04:41:54  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8690  12/07/2017 12:53:07  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8697  12/07/2017 15:13:40  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....

       exp current_job_exp salary Валюта cls
0     0.50            0.50    400    NaN  QA
1     0.00            0.00    430    NaN  QA
19    4.00            4.00   1800    NaN  QA
22    2.00            0.50    800    NaN  QA
27    7.00            1.50   1200    NaN  QA
...    ...             ...    ...    ...  ..
8624  3.00            0.00   1200    NaN  QA
8669  0.25            0.25    480    NaN  QA
8690  0.00            3.00    300    NaN  QA
8697  4.00            3.00   1551    NaN  QA
8699  1.00            0.00    700    NaN  QA

[827 rows x 25 columns]
Group: Performance QA
         N           Должность Язык.программирования   Специализация  \
70      71         QA engineer                   NaN  Performance QA
1004  1005  Senior QA engineer                   NaN  Performance QA
1038  1039        QA Tech Lead                   NaN  Performance QA
1060  1061        QA Tech Lead                   NaN  Performance QA
1624  1625         QA engineer                   NaN  Performance QA
4978  4979  Senior QA engineer                   NaN  Performance QA
5146  5147         QA engineer                   NaN  Performance QA
6105  6106  Senior QA engineer                   NaN  Performance QA
7378  7379         QA engineer                   NaN  Performance QA

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
70                   3                          1.5              1100
1004    10 и более лет                            1              2700
1038    10 и более лет                          0.5              3800
1060                 3                            6              2200
1624                 2                            1              2100
4978                 2                            1              2300
5146               1.5                            1              1200
6105                 5                            5              1800
7378                 3                            2              1150

      Изменение.зарплаты.за.12.месяцев  Город     Размер.компании  ...  \
70                                   0  Днепр     до 1000 человек  ...
1004                              -300   Киев      до 200 человек  ...
1038                               475   Киев  свыше 1000 человек  ...
1060                               350   Киев     до 1000 человек  ...
1624                              1100   Киев  свыше 1000 человек  ...
4978                              1550   Киев  свыше 1000 человек  ...
5146                                 0   Киев      до 200 человек  ...
6105                               300   Киев  свыше 1000 человек  ...
7378                                 0   Киев      до 200 человек  ...

     Еще.студент Уровень.английского              Предметная.область  \
70         False             средний                 Финансы и банки
1004       False             средний                 Финансы и банки
1038       False             средний                       eCommerce
1060       False       выше среднего        Android,Телекоммуникации
1624       False             средний  Веб-разработка,Финансы и банки
4978       False             средний  Веб-разработка,Финансы и банки
5146       False             средний                Телекоммуникации
6105       False         продвинутый    Телекоммуникации,Мультимедиа
7378       False       выше среднего                       eCommerce

          Дата.заполнения                                         User.Agent  \
70    12/06/2017 13:11:27  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
1004  12/06/2017 16:34:53  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1038  12/06/2017 16:45:54  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1060  12/06/2017 16:56:29  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
1624  12/06/2017 22:04:45  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
4978  18/06/2017 23:27:35  Mozilla/5.0 (Linux; Android 4.4.2; Lenovo K910...
5146  20/06/2017 14:07:18  Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....
6105  21/06/2017 10:58:48  Mozilla/5.0 (Windows NT 6.3; WOW64; rv:53.0) G...
7378  29/06/2017 13:24:31  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...

       exp current_job_exp salary Валюта cls
70     3.0             1.5   1100    NaN  QA
1004  10.0             1.0   2700    NaN  QA
1038  10.0             0.5   3800    NaN  QA
1060   3.0             6.0   2200    NaN  QA
1624   2.0             1.0   2100    NaN  QA
4978   2.0             1.0   2300    NaN  QA
5146   1.5             1.0   1200    NaN  QA
6105   5.0             5.0   1800    NaN  QA
7378   3.0             2.0   1150    NaN  QA

[9 rows x 25 columns]

In [49]:
import pandas as pd


grouped = stats.groupby('Специализация')


aggregated_data = grouped['Зарплата.в.месяц'].agg(min_salary='min', max_salary='max')


aggregated_df = pd.DataFrame(aggregated_data)


print(aggregated_df)

                min_salary  max_salary
Специализация
Automation QA          100        6000
General QA             223        5000
Manual QA               96        4000
Performance QA        1100        3800

In [55]:
import pandas as pd

grouped = stats.groupby('Специализация')


aggregated_data = grouped['Зарплата.в.месяц'].agg(min_salary='min', max_salary='max')
aggregated_df = pd.DataFrame(aggregated_data)


def fill_avg_salary(row):
    return row.mean()

aggregated_df['avg'] = aggregated_df.apply(fill_avg_salary, axis=1) 


aggregated_df

                min_salary  max_salary     avg
Специализация
Automation QA          100        6000  3050.0
General QA             223        5000  2611.5
Manual QA               96        4000  2048.0
Performance QA        1100        3800  2450.0

In [56]:
description = aggregated_df.describe()
print(description)

        min_salary  max_salary         avg
count     4.000000     4.00000     4.00000
mean    379.750000  4700.00000  2539.87500
std     483.771554  1013.24561   414.47806
min      96.000000  3800.00000  2048.00000
25%      99.000000  3950.00000  2349.50000
50%     161.500000  4500.00000  2530.75000
75%     442.250000  5250.00000  2721.12500
max    1100.000000  6000.00000  3050.00000

In [ ]:
description.to_csv('description.csv')